body{
    background-color: red;
}

.container{
    width: 100%;
}
.navbar{
    background-color: red;
}

thead{
    background-color: white;
}

a{
    text-decoration: none;
}

.test1234{
    border:2px;
    border-color: lightblue;
}